.container {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: 2rem;
}

.profile-image__container {
  display: inline-block;
  background-color: #f3f4f6;
  border-radius: 9999px;
  overflow: hidden;
  height: 3.5rem;
  width: 3.5rem;

  margin-right: 1.5rem;
}

.profile-image__placeholder {
  height: 100%;
  width: 100%;
  color: #d1d5db;
}
