.nav {
  background-color: #1f2937;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
}

.nav__container {
  margin-left: auto;
  margin-right: auto;
  max-width: 24rem;

  padding-left: 1.5rem;
  padding-right: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__left-container {
  display: flex;
  align-items: center;
}

.nav__links {
  display: none;
}

.nav__icon {
  height: auto;
  width: 6rem;
}

/* 'sm': '640px', */
@media (min-width: 640px) {
  .nav__container {
    max-width: 42rem;
    padding-left: 0;
    padding-right: 0;
  }
}

/* 'md': '768px', */
@media (min-width: 768px) {
  .nav__links {
    display: inline;
  }

  .nav__container {
    max-width: 48rem;
  }

  .nav__links {
    margin-left: 2rem;
  }

  .nav__link {
    background-color: transparent;
    padding: 0.5rem;
    border-radius: 0.375rem;

    margin-left: 1rem;
    text-decoration: none;
    color: inherit;

    font-weight: 500;
  }

  .nav__link:hover {
    color: inherit;
    background-color: #374151;
  }

  .nav__link.active {
    background-color: #111827;
  }

  .nav__icon {
    height: auto;
    width: 6rem;
  }
}

/* 'lg': '1024px', */
@media (min-width: 1024px) {
  .nav__container {
    max-width: 64rem;
  }
}

/* 'xl': '1280px', */
@media (min-width: 1280px) {
  .nav__container {
    max-width: 72rem;
  }
}
